@use '../dist/scss/border-width.map' as *;
@use 'utils' as *;

/// Returns border width.
/// @param {String} $variant [base] - The border variant key.
/// @return {Number} The width for the border.
@function border-width($variant: 'base') {
  $fetched-value: map-get($border-width-data, $variant);

  @if $fetched-value {
    @return $fetched-value;
  } @else {
    @return 'Could not find border-width `#{$variant}`. Available widths: #{available-names($borders-width)}';
  }
}
